# Logs
logs/
*.log

# Node
node_modules/
dist/
dist-ssr/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment
.env
.env.*
!.env.example

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
.pytest_cache/
.mypy_cache/

# Build
build/

# Extra's
\#Work