#topbar {
    display: flex;
    justify-content: center;   
    align-items: center;
}

.group {
    padding: 0rem 1.3rem;
    display: flex;
    background-color: var(--sub-alt-color);
    border-radius: var(--custom-border-radius);
}

#topbar button {
    background-color: transparent;
    border: none;
    outline: none;
    transition: color .2s ease-in;


}

#topbar button:hover {
    color: var(--main-color)
}

button:focus,
button:focus-visible {

}

