:root {
    --bg-color: #242933;
    --main-color: #ec4c56;
    --cursor-color : #ec4c56;
    --sub-color: #596172;
    --sub-alt-color: #1c222d;
    --text-color: #f6f0e9;
    --cursor-border-radius : 0.5rem;
    --cursor-height : 1.1em;
    --default-color: grey;
    --correct-color: white;
    --wrong-color: #ef4444;
    --focus-warn-color: #ffffff;
    --untyped-letter-color: #596172;
    --button-hover-color: #ffffff67;
}

body {
    background-color: var(--bg-color);
}
#typing-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score-preview {
    width: 75%;
    color: var(--main-color);
    font-size: 2em;
    transition: all 2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#score-preview span{
    padding-left: .3em;
    position: relative;
}

.results-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20; 
  border-radius: 10px;
}

.results-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(155, 155, 155);
    width: 100%;
    height: 10%;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 20; 
}

.OnFocusOffWarn {
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(4px);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--focus-warn-color);
    transition: all 0.25s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
    text-align: center;
    font-size: 1rem;

}

#words-container {
    width: 75%;
    height: 35%;
    position: relative;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;
}

#words-container:focus {
  outline: none;
}

#t-cursor {
    width: 2px;
    font-size: 2rem;
    display: block;
    opacity: 1;
    top: 0;
    transition: transform 0.15s ease-in-out;
}

#t-cursor.default {
    height: var(--cursor-height);
    background: var(--cursor-color);
    animation: t-cursor-smooth-blink 1s step-start infinite;
    position: absolute;
    border-radius: var(--cursor-border-radius);
}

#words {
    height: fit-content;
    height: -moz-fit-content;
    padding-bottom: .5em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: flex-start;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#words.blurred {
    opacity: .25;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}
.word {
    display: inline;
    margin: 0.25em 0.3em;
    font-size: 2em;
    color: var(--text-color);
    line-height: 1em;
    font-weight: 400;
    color: var(--default-color);
    border-bottom: 2px transparent;
}

.skipped {
    /* border-bottom: 2px solid var(--wrong-color); */
    text-shadow: 1px 0px 0px var(--bg-color), -1px 0px 0px var(--bg-color), 0px 1px 0px var(--bg-color), 1px 1px 0px var(--bg-color), -1px 1px 0px var(--bg-color);
}

.correct {
  color: var(--correct-color);
}

.incorrect {
  color: var(--wrong-color);
}

.error {
    border-bottom: 2px solid var(--wrong-color);
}

#wordsInput {
    font-size: 1em;
    opacity: 0;
    padding: 0;
    margin: 0 auto;
    border: none;
    outline: none;
    display: block;
    resize: none;
    position: absolute;
    z-index: -1;
    cursor: default;
    pointer-events: none;
    border-radius: 0;
}

.hidden {
    display: none !important;
}

#game-bars {
    transition: width 1s ease;
}

#game-bars button {
    width: fit-content;
    border: none;   
    background-color: transparent;
    outline: none;
    transition: stroke 1s ease, fill 1s ease, transform .5s ease;
}
#game-bars #restart-button svg {
    stroke: var(--sub-color);
    fill: var(--sub-color);
}

#game-bars #next-button svg {
    stroke: var(--sub-color);
}
#game-bars #restart-button:hover svg {
    stroke: var(--text-color);
    fill: var(--text-color);
}

#game-bars #next-button:hover svg {
    stroke: var(--text-color);
}

#game-bars button:hover {
    transform: scale(1.1);
    color: var(--button-hover-color);
}

@keyframes t-cursor-smooth-blink {
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

#sub-zone {
    position: fixed;
    bottom:  0;
    right: 0;
    margin: 1rem;
    background-color: var(--sub-alt-color);
    padding: 1rem;
    border-radius: var(--cursor-border-radius);
    display: flex;
} 