
#root {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: "Vazirmatn", monospace;
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#header-frame h1{
    user-select: none;
    margin: 1rem;
    margin-left: 10rem;
}

#tempspace {
    height: 25%;
}

#typing-zone {
    width: 100%;
    height: 100%;
}